<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>Secured Page</title>
    </head>
    <body>
        <form method="post" action="/login">

            <div>
                <label for="username">Username</label>
                <input id="username" type="text" name="username"/>
            </div>

            <div>
                <label for="password">Password</label>
                <input id="password" type="password" name="password"/>
            </div>

            <div>
                <button type="submit">Login</button>
            </div>

        </form>
    </body>
</html>